@charset "utf-8";
/* CSS Document */

/*////////////////RESET STYLES////////////*/
/* http://meyerweb.com/eric/tools/css/reset/
v2.0 I 20110126 Лицензия: нет (общий домен)*/

html, body, div, span, applet, object, iframe,
hi, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;

}
/* сброс типа отображения HTML5 для старых версий браузеров
*/
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
o l , u l {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '1';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*////////////////END RESET STYLES////////////*/

/********************SPRITE**********************/

.close_btn
, .min_btn
, .max_btn
, .menu_btn
, .stick_btn
, .journal_btn
, .left_progress_arrow
, .right_progress_arrow
, .btn_plus
, .btn_backspace
, .btn_division
, .btn_multiply
, .btn_minus
, .btn_result
, .btn_plus_minus
, .btn_one_x
, .btn_2x
, .btn_x2
{ display: inline-block; background: url('../assets/calculator_sprite.png') no-repeat; overflow: hidden; text-indent: -9999px; text-align: left; }

/****************END SPRITE**********************/
body{
    background-image: url("../assets/img2@1x.jpg");
}

main{
    position: absolute;
    left: 50px;
    top: 50px;
    background: rgba(230,230,230,1.00);
    z-index: 1;
    width: 320px;
    height: 513px;
    border: 1px solid rgba(25,25,25,1.00);
    border-collapse: collapse;
    box-shadow: 1px 1px 32px 1px rgba(0,0,0,0.5) ;
    font-family: "Microsoft Sans Serif", Arial, Calibri,  sans-serif;
    font-size: 10pt;
    color: rgba( 0,0,0,0.7 );

}


main.active{
    background: rgba(253,253,253,0.72);
}
button {
    padding: 0;
    margin: 0;
    background: none;
    border: 1px solid rgba( 0, 0, 0, 0 );

}

.full_width{
    width: 100%;
}

section.input_section{
    height: 335px;

}

div.story_calc{
    height: 30px;
    overflow: hidden;

}

div.viewer_panel{
    height: 60px;
    overflow: hidden;
    margin: 0 0 5px 0;
}

.label_ctrl_panel {
    margin: 5px 0 0 7px;
    padding: 7px 0 5px 6px;
    font-size: 11px;
    font-weight: lighter;
    width: 170.5px;
    float: left;

}


.main_controls {
    width: 43px;
    height: 30px;
}

.close_btn {
    background-position: -2px -539px;
    /*	width: 43.43px;*/
}

.min_btn {
    background-position: -2px -603px;
}

.max_btn {
    background-position: -2px -571px;
}

.subtitle_controls {
    padding-top: 3px;
    width: 40px;
    height: 40px;
}

.menu_btn {
    background-position: -2px -709px;
    float: left;
}

.subitile_ordinary {
    font-size: 19px;
    padding: 12px 15px 0 15px;
    display: inline-block;
    float: left;

}

.stick_btn {
    background-position: -2px -751px;
}

.journal_btn {
    background-position: -2px -667px;
    float: right;
}

.progress_content {
    margin: 3px 0 0 0;
    text-align: right;
    /*width: 282px;*/
    display: inline-block;
    overflow: hidden;
   /* white-space: nowrap;*/

}

.span_log_text{
    display: inline-block;
    position: relative;
    text-align: right;
    white-space: nowrap;
    user-select: none;
    transition: right 250ms cubic-bezier(.19,1,.22,1) 10ms;
    -moz-transition: right 250ms cubic-bezier(.19,1,.22,1) 10ms;
    -webkit-transition: right 250ms cubic-bezier(.19,1,.22,1) 10ms;
    -o-transition: right 250ms cubic-bezier(.19,1,.22,1) 10ms;
}
.left_progress_arrow {
    background-position: -48px -539px; width: 14px; height: 17px;
    overflow: hidden;
    float: left;
}

.progress_arrows {
    height: 23px;
    width: 20px;
}

.right_progress_arrow {
    background-position: -48px -558px; width: 18px; height: 22px;
    float: right;
}

.outputWindow {
    color: initial;
    font-weight: 600;
    font-family: "Segoe UI", "Arial", sans-serif;
    text-align: right;
    padding: 0 10px 4px 10px;
    margin: 0;
    white-space: nowrap;
    background: inherit;
    border: 1px;

}

.mm_btns {
    width: 52px;
    height: 30px;
    margin: 0 0 3.5px 0;
    float: left;
    font-size: .9em;
    color: rgba( 0, 0, 0, 1 );
}

.input_fieldsets{
    padding: 0 0 0 1%;

}

.down_arrow {
    font-size: .5em;
    vertical-align: super;
    color: inherit;
}

.input_btns {
    width: 77px; height: 50px;
    float: left;
    margin: 0 2px 2px 0;
    background-color: rgba(240,236,241, .4);

}

.fieldset_complexes_btns {
    width: 75%;
    float: left;
}

.fieldset_num_btns {
    width: 75%;
    clear: left;
    float: left;
}

.fieldset_simple_btns {
    width: 24.9%;
}

.nmr_btns {
    font-size: 1.35em;
    font-weight: bold;
    color: rgba(0,0,0,0.8);
    background-color: rgba(241,246,247,1.00);
}

/*.btn_result
, .btn_plus
, .btn_division
, .btn_multiply
, .btn_minus
, .btn_plus_minus
, .btn_one_x
, .btn_x2
, .btn_2x
, .btn_backspace {
    width: 77px; height: 48.5px;
}*/

.btn_plus
, .btn_division
, .btn_multiply
, .btn_minus
, .btn_plus_minus
, .btn_one_x
, .btn_x2
, .btn_2x
, .btn_backspace {
    background-color: rgba(240,236,241, .4 );
}
.btn_result {
    background-position: -2px -441px;
    background-color: rgba(139,195,4, .4 );
}

.btn_plus {
    background-position: -2px -343px;

}

.btn_backspace {
    background-position: -0px -49px;

}


.btn_division {
    background-position: -2px -98px;

}

.btn_multiply {
    background-position: -2px -196px;

}

.btn_minus {
    background-position: -2px -147px;

}

.btn_plus_minus {
    background-position: -2px -392px;
    background-color: rgba(241,246,247,1.00);

}

.btn_one_x {
    background-position: -2px -245px;

}

.btn_x2 {
    background-position: -2px -490px;

}

.btn_2x {
    background-position: -2px -0px;

}

.btn_percent {
    float: left;
}

.main_btns {
    float: left;
}

.fieldset_percent {
    float: left;
}


/********************** BEHAVIOR **********************/


button:active
, button:focus {
    outline: none;
}

button::-moz-focus-inner
, .subtitle_controls::-moz-focus-inner
, .close_btn::-moz-focus-inner
, .min_btn::-moz-focus-inner
, .max_btn::-moz-focus-inner
, .menu_btn::-moz-focus-inner
, .stick_btn::-moz-focus-inner
, .journal_btn::-moz-focus-inner {

    border: 0;
}

.mm_btns:hover
, .min_btn:hover
, .max_btn:hover
, .menu_btn:hover
, .stick_btn:hover
, .journal_btn:hover{
    background-color: rgba(0,0,0,0.1);
    border: 1px solid rgba(0,0,0, 0.3);
}

.mm_btns:active
, .min_btn:active
, .max_btn:active
, .menu_btn:active
, .stick_btn:active
, .journal_btn:active{
    background-color: rgba(0,0,0,0.2);
    border: 1px solid rgba(0,0,0, 0.3);
}


button:active
, .btn_plus:active
, .btn_backspace:active
, .btn_one_x:active
, .btn_2x:active
, .btn_x2:active
, .btn_division:active
, .btn_multiply:active
, .btn_minus:active
, .btn_plus_minus:active
, button:hover
, .btn_plus:hover
, .btn_backspace:hover
, .btn_one_x:hover
, .btn_2x:hover
, .btn_x2:hover
, .btn_division:hover
, .btn_multiply:hover
, .btn_minus:hover
, .btn_plus_minus:hover{
    background-color: rgba(0,0,0,0.15);
    border: 1px solid rgba(0,0,0, 0.2);

}

.btn_result:active
, .btn_result:hover{
    background-color: rgba(108,154,0, .85);
    border: 1px solid rgba(139,195,4, .6);

}


.close_btn:active
, .close_btn:hover{
    background-color: rgba(232,17,35,1.00);
    border: 1px solid rgba(0,0,0, 0.2);
    background-position: -2px -635px;

}

button:disabled
, .subtitle_controls:disabled
, .mm_btns:disabled
, .close_btn:disabled
, .min_btn:disabled
, .max_btn:disabled
, .menu_btn:disabled
, .stick_btn:disabled
, .input_btns:disabled
, .journal_btn:disabled{
    background-color: rgba( 0, 0, 0, 0 );
    border: 1px solid rgba(0,0,0, 0);
    opacity: .5;
}

.close_btn:disabled{
    background-position: -2px -539px;
}

/****************END OF BEHAVIOR **********************/

